In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('phxcrime.csv', dtype={'INC NUMBER': 'str'})

In [24]:
print(df.head())

        INC NUMBER        OCCURRED ON        OCCURRED TO   UCR CRIME CATEGORY  \
0  201600000594484  11/01/2015  00:00                NaN                 RAPE
1  201500002102327  11/01/2015  00:00  11/01/2015  09:00        LARCENY-THEFT
2  201500002168686  11/01/2015  00:00  11/11/2015  09:30        LARCENY-THEFT
3  201500002102668  11/01/2015  00:00  11/01/2015  11:50  MOTOR VEHICLE THEFT
4  201600000052855  11/01/2015  00:00  01/09/2016  00:00  MOTOR VEHICLE THEFT

             100 BLOCK ADDR      ZIP         PREMISE TYPE  GRID
0         13XX E ALMERIA RD  85006.0  SINGLE FAMILY HOUSE  BD30
1            51XX N 15TH ST  85014.0            APARTMENT  BJ30
2       14XX E HIGHLAND AVE  85014.0          PARKING LOT  BI30
3            69XX W WOOD ST  85043.0  SINGLE FAMILY HOUSE  AF12
4  N 43RD AVE & W CACTUS RD  85029.0  SINGLE FAMILY HOUSE  DA19

In [23]:
df.drop(columns=['INC NUMBER','OCCURRED TO','GRID','100 BLOCK ADDR','ZIP','PREMISE TYPE'])

              OCCURRED ON   UCR CRIME CATEGORY
0       11/01/2015  00:00                 RAPE
1       11/01/2015  00:00        LARCENY-THEFT
2       11/01/2015  00:00        LARCENY-THEFT
3       11/01/2015  00:00  MOTOR VEHICLE THEFT
4       11/01/2015  00:00  MOTOR VEHICLE THEFT
...                   ...                  ...
475374  03/12/2023  22:00   AGGRAVATED ASSAULT
475375  03/12/2023  22:30             BURGLARY
475376  03/12/2023  22:45        LARCENY-THEFT
475377  03/12/2023  23:00        LARCENY-THEFT
475378  03/12/2023  23:03              ROBBERY

[475379 rows x 2 columns]

In [11]:
print(df['UCR CRIME CATEGORY'].unique())

['RAPE' 'LARCENY-THEFT' 'MOTOR VEHICLE THEFT' 'DRUG OFFENSE' 'BURGLARY'
 'AGGRAVATED ASSAULT' 'MURDER AND NON-NEGLIGENT MANSLAUGHTER' 'ROBBERY'
 'ARSON']

In [19]:
print(df['PREMISE TYPE'].nunique())

98

In [25]:
df.describe()

                 ZIP
count  475373.000000
mean    85043.852783
std        69.548433
min     85003.000000
25%     85015.000000
50%     85028.000000
75%     85041.000000
max     85396.000000